<a href="https://colab.research.google.com/github/kokangwoo/777/blob/master/%EA%B3%A0%EA%B0%95%EC%9A%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트

## 리스트란?

리스트는 여러 값을 담을 수 있는 변수입니다.

### 1. 리스트 만들기

방법은 2가지

#### 방법 1

In [2]:
# list1 이라는 빈 리스트를 만들어 보겠습니다

list1 = []
print(list1)

[]

In [5]:
# list2를 만들어 보자. 1, '철수', True 를 넣어서.

list2 = [1, '철수', True]
print(list2)

[1, '철수', True]

#### 방법 2

In [12]:
list3 = list()
print(list3)

[]

In [14]:
# 1, '철수', True 를 넣어서 list4 를 만들어 보세요

list4 = list(1, '철수', True)

TypeError: ignored

In [18]:
list4 = list([1, '철수', True])
print(list4)

[1, '철수', True]